<main>
    <div class="container">
        <div class="row mt-3">
            <div class="col">
                <p><small class="label">Title:</small> {{ wine.title }}</p>
                <p><small class="label">Variety:</small> {{ wine.variety }}</p>
                <p><small class="label">Country:</small> {{ wine.country }}</p>
                <p><small class="label">Province:</small> {{ wine.province }}</p>
                <p><small class="label">Winery:</small> {{ wine.winery }}</p>
                <p><small class="label">Description:</small> {{ wine.description }}</p>
                <p><small class="label">Points:</small> {{ wine.points }}</p>
                <p><small class="label">Price:</small> ${{ wine.price }}</p>
            </div>
        </div>
    </div>
</main>
